.first_col {
    width: 65%;
    display: inline-block;

}

.second_col {
    width: 35%;
    display: inline-block;
}

.news_impression {
    height: 100%;
}

.news {
    height: 200%;
}

.news_item {
    padding-right: 3%;
}

.news_pic {
    /*width: 156px;*/
    width: 100%;
}

.title_box{
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 150%;
    line-height: 100%;
    font-weight: bold;
    height: 190%;
}

.other-attributes {
    height: 6%;
    padding-bottom: 1%;
}

.reporter_img {
    width: 5%;
    width: 5%;
}

a:link {color: black; text-decoration: none;}
a:visited {color: grey; text-decoration: none;}
a:hover {color: #406599; text-decoration: none;}


.hot_module {
    width: 100%;
    height: 50%;
    border-top: 2px solid #ed4040;
    background-color: #f4f5f6;
    margin-bottom: 16px;
    padding: 15px 20px 20px;
}

.module-head.news-head {
    color: #222;
    padding: 0;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
}

.recommand_module {
    width: 100%;
    height: 50%;
    border-top: 2px solid #ed4040;
    background-color: #f4f5f6;
    margin-bottom: 16px;
    padding: 15px 20px 20px;
}