<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>Simple example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detailed_news.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='editormd/css/editormd.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>

    <div id="left_navbar">
        <div class="ui vertical large compact menu">
                <div class="shared_section trace_in_blockchain">
                    <a href="#comment_area" class="shared_section_link" style="font-size: 30px; color: rgb(248, 89, 89);">
                        <span class="glyphicon glyphicon-comment" ></span>
                        <div class="shared_section_text title_text">247</div>
                    </a>
                </div>
                <div class="shared_section trace_in_blockchain">
                    <a href="javascript:void(0)" class="shared_section_link" style="font-size: 30px" onclick="traceNews()">
                        <span class="glyphicon glyphicon-search text-info" ></span>
                        <div class="shared_section_text title_text">追踪</div>
                    </a>
                </div>
                <div class="shared_section">
                    <a href="javascript:void(0);" class="shared_section_link" onclick="forwardNews()">
                        <div class="shared_section_icon" style="background-image: url('../static/images/wechat.jpg')"></div>
                        <div class="shared_section_text">转发</div>
                    </a>
                </div>

{#                <div class="shared_section sina_section">#}
{#                    <a href="/weibo_forawrd" class="shared_section_link">#}
{#                        <div class="shared_section_icon" style="background-image: url('../static/images/sina.jpg')"></div>#}
{#                        <div class="shared_section_text">微博</div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="shared_section">#}
{#                    <a href="/qzone_forawrd" class="shared_section_link">#}
{#                        <div class="shared_section_icon" style="background-image: url('../static/images/qzone.jpg')"></div>#}
{#                        <div class="shared_section_text">QZone</div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="shared_section">#}
{#                    <a href="/wechat_forawrd" class="shared_section_link">#}
{#                        <div class="shared_section_icon" style="background-image: url('../static/images/wechat.jpg')"></div>#}
{#                        <div class="shared_section_text">微信</div>#}
{#                    </a>#}
{#                </div>#}
            </div>

        </div>
    </div>

    <div class="page_body container" style="padding-left: 10%; width: 85%;">
        <div class="row">
            <div class="first_col_of_detailed_news col-md-12">
                <div class="news_title">{{ title }}</div>
                <div class="news_content" id="news_content">
                    <textarea style="display:none;" name="test-editormd-markdown-doc">{{content}}</textarea>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/marked.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/flowchart.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/jquery.flowchart.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/raphael.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/sequence-diagram.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/underscore.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/editormd.js') }}"></script>
    <script src="{{url_for('static', filename='js/detailed_news.js')}}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/prettify.min.js') }}"></script>

    <script src="{{ url_for('static',filename='js/detailed_news.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            testEditor = editormd.markdownToHTML("news_content", {
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true,
                codeFold: true,
        });
        });
    </script>
</body>
</html>
